* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
}

body {
    height: 100vh;
    background: url("/asets/img/bg_nikmax.webp") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#snow {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 1;
}


.card {
    position: relative;
    z-index: 2;
    width: 380px;
    padding: 35px;
    text-align: center;
    border-radius: 20px;

    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    border: 1px solid rgba(255,165,0,0.45);
    box-shadow: 0 0 40px rgba(255,165,0,0.25);
}

.pfp img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 2px solid orange;
    margin-bottom: 15px;
}

.name {
    color: orange;
    font-size: 28px;
    margin-bottom: 10px;
    text-shadow: 0 0 15px orange;
}


.bio {
    color: #eee;
    font-size: 14px;
    margin-bottom: 25px;
}


.socials {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.socials a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    text-decoration: none;

    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(10px);

    border: 1px solid rgba(255,165,0,0.5);
    transition: 0.3s ease;
}

.socials a:hover {
    background: orange;
    color: black;
    box-shadow: 0 0 25px orange;
    transform: scale(1.15);
}

#volume-icon {
    font-size: 24px;
    color: orange;
    cursor: pointer;
}

#volume-slider {
    width: 80%;
    cursor: pointer;
}

.back-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 18px;
    background: rgba(255, 174, 0, 0.9);
    border-radius: 10px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 0 50px rgb(255, 123, 0);
    transition: 0.3s;
    z-index: 1000;
}
/* Music Player */
.music-player {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 55px;
    width: 55px;
    background: rgb(255, 115, 0);
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    border: 2px solid #ff9100;
    box-shadow: 0 0 20px rgb(255, 153, 0);
    backdrop-filter: blur(10px);
    overflow: hidden;
    transition: 0.4s ease;
    z-index: 1000;
}

.music-player:hover {
    width: 220px;
}

.music-player i {
    font-size: 22px;
    color: #000;
    cursor: pointer;
}

/* Volume Slider */
#volume-slider {
    width: 140px;
    opacity: 0;
    transition: 0.4s ease;
    accent-color: #000000;
}

.music-player:hover #volume-slider {
    opacity: 1;
}
/* ENTER SCREEN */
#enter-screen {
    position: fixed;
    inset: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    cursor: pointer;
    transition: 0.7s ease;
}

#enter-screen h1 {
    color: orange;
    font-size: 40px;
    letter-spacing: 5px;
    text-shadow: 0 0 25px orange;
}
